<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
</head>
<body>
    <h2>Form Details</h2>
    
	 <form th:action="@{/getDetails}" method="post" th:object="${form}">
		
		       <label>Name</label>
		       <input type="text" placeholder="First Name" th:field="*{name}"><br><br>

			   <label>Company</label>
			   <input type="text" placeholder="Company" th:field="*{company}"><br><br>

			   <label>Country</label>
			   <input type="text" placeholder="Country" th:field="*{country}"><br><br>
					   
		       <input type="submit" name="Submit">
	</form>
       
</body>
</html>